<!-- 继承父模板 -->
{{extend './layout/main.html'}}
<!-- 填坑 -->

{{block 'container'}}
<link href="/public/css/login.css" rel="stylesheet" type="text/css" />
<div id="wrapper">
  <div class="aw-login-box">
    <div class="mod-body clearfix">
      <div class="content pull-left">
        <h1 class="logo">
          <a href=""></a>
          <!-- 通过class使用艺术字样式 -->
          <span class="css17ce09a6c61f31b  title-pos">私人音乐</span>
        </h1>
        <h2></h2>
        <form action="/" method="post" id="login_form">
          <ul>
            <li>
              <input type="text" id="aw-login-user-name" class="form-control" placeholder="用户名" name="username" value="" />
            </li>
            <li>
              <input type="password" id="aw-login-user-password" class="form-control" placeholder="密码" name="password" value="" />
            </li>
            <li class="alert alert-danger hide error_message">
              <i class="icon icon-delete"></i>
              <em></em>
            </li>
            <li class="last">
              <input type="submit" class="pull-right btn btn-large btn-primary" value="登录">
              <label>
                <input type="checkbox" value="1" name="remember_me" /> 记住我 </label>
              <a href="http://wenda.golaravel.com/account/find_password/">&nbsp;&nbsp;忘记密码</a>
            </li>
          </ul>
        </form>
      </div>
      <div class="side-bar pull-left">
        <img src="/public/img/a.png" style="width: 160px">
      </div>
    </div>
    <div class="mod-footer">
      <span>还没有账号?</span>&nbsp;&nbsp;
      <a href="/user/register">立即注册</a>&nbsp;&nbsp;•&nbsp;&nbsp;
    </div>
  </div>
</div>
<script>
  (function () {
    let loginPage = {
      checkParams: () => {
        let username = $('#aw-login-user-name').val();
        let password = $('#aw-login-user-password').val();
        if (username == "" || password === "") {
          return false;
        }
        return true;
      },
      doLogin: (data) => {
        if (!loginPage.checkParams()) {
          return Swal.fire({
            title: '失败',
            text: '用户名或密码不能为空',
            type: 'info',
            showCloseButton: true,
            confirmButtonText: '确定'
          })
        }
        loginPage.sendLoginRequest(data);
      },
      sendLoginRequest: (data) => {
        let reqData = {
          data: data,
          url: 'doLogin'
        }
        Http.post(reqData, (data) => {
          if (data.code === '001') {
            Swal.fire({
              title: '登录成功',
              text: '前往主页面?',
              type: 'success',
              showCloseButton: true,
              showCancelButton: true,
              confirmButtonText: '确定',
              cancelButtonText: '取消'
            }).then(result => {
              if (result.value) {
                window.location = '/music/index';
              }
            })
          } else {
            Swal.fire({
              title: '登录失败',
              text: data.msg,
              type: 'error',
              showCloseButton: true,
              confirmButtonText: '确定'
            })
          }
        })
      }
    }
    document.querySelector('#login_form').addEventListener('submit', function (e) {
      e.preventDefault();
      let data = $(this).serialize();
      loginPage.doLogin(data);
    })
  })()
</script> {{/block}}