<!-- 继承父模板 -->
{{extend './layout/main.html'}}
<!-- 填坑 -->

{{block 'container'}}

<style type="text/css">
  #pwd-level div {
    height: 30px;
    width: 30px;
    display: inline-block;
    float: left;
  }

  #pwd-level span {
    display: inline-block;
    float: left;
  }

  #exits {
    color: red;
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }
</style>
<link href="/public/css/register.css" rel="stylesheet" type="text/css" />


<div class="aw-register-box">
  <div class="mod-head">
    <a href="/"></a>
    <h1>注册新用户</h1>
  </div>
  <div class="mod-body">
    <form action="" class="aw-register-form" method="post" id="register_form">
      <ul>
        <li class="alert alert-danger hide error_message text-left">
          <i class="icon icon-delete"></i>
          <em></em>
        </li>
        <li>
          <input class="aw-register-name form-control" type="text" name="username" id="username" placeholder="用户名" value="" />
          <span id="exits" class="hidden">用户名已存在</span>
        </li>

        <li>
          <input class="aw-register-email form-control" type="text" placeholder="邮箱" id="email" name="email" value="" />
        </li>
        <li>
          <input class="aw-register-pwd form-control" type="password" name="password" id="passward" placeholder="密码" />
        </li>
        <div id='pwd-level'>
          <span>密码强度:</span>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <hr/>
        <li class="aw-register-verify">
          <img class="pull-right" width="120" src="/user/getPic" onclick="this.src='/user/getPic' + '?time=' + Date.now()">
          <input type="text" class="form-control" id = "vCode" name="v_code" placeholder="验证码" />
        </li>
        <li class="last">
          <label>
            <input type="checkbox" checked="checked" value="agree" /> 我同意</label>
          <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
          <a href="/login" class="pull-right">已有账号?</a>
          <div class="aw-regiter-agreement hide">
            <div class="aw-register-agreement-txt" id="register_agreement"></div>
          </div>
        </li>
        <li class="clearfix">
          <button type="submit" class="btn btn-large btn-blue btn-block">
            注册
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>
<script>
  (function () {
    let timer;
    let register = {
      delay: 1000,  // 等待时间
      domEles: {
        username: document.querySelector('#username'),
        passward: document.querySelector('#passward'),
        form: document.querySelector('form'),
        vCodePic: document.querySelector('#vCode')
      },
      // 验证用户名是否存在
      checkUsername: username => {
        let reqData = {
          url: 'checkUsername',
          data: { username: username }
        };
        return new Promise((res, rej) => {
          Http.request(reqData, data => {
            res(data);
          }, error => {
            rej(error);
          })
        })
      },
      // 注册
      doRegister: data => {
        let reqData = {
          url: 'doRegister',
          data: data
        }
        Http.request(reqData, data => {
          if (data.code === '001') {
            Swal.fire({
              title: '注册成功',
              text: '前往登录页面?',
              type: 'success',
              showCloseButton: true,
              showCancelButton: true,
              confirmButtonText: '确定',
              cancelButtonText: '取消'
            }).then(result => {
              if (result.value) {
                window.location = Http.config.urls.login;
              }
            })
          } else {
            Swal.fire({
              title: '注册失败',
              text: data.msg,
              type: 'error'
            })
          }
        })
      }
    };
    // 样式切换
    function _toggleClass(selector, classA, classB) {
      $(selector).removeClass(classA).addClass(classB);
    }

    // 密码强度
    function _checkPwd(value) {
      let level = 0,
        regex1 = /[0-9]/, // 数字
        regex2 = /[A-Za-z]/, // 字符
        regex3 = /[^\w]/; // 非字符
      if (regex1.test(value)) level++;
      if (regex2.test(value)) level++;
      if (regex3.test(value)) level++;
      return level;
    }
    // 密码强度背景色设置
    function _changeColor(levels) {
      let divs = document.querySelector('#pwd-level').querySelectorAll('div');
      let colors = ['red', 'blue', 'green'];
      divs.forEach(div => div.style.backgroundColor = '');
      for (let i = 0; i < levels; i++) {
        divs[i].style.backgroundColor = colors[i];
      }
    }

    // 验证用户名是否存在
    register.domEles.username.addEventListener('input', e => {
      clearTimeout(timer);
      timer = setTimeout(() => {
        register.checkUsername(e.target.value).then(data => {
          if (data.code === '002') {
            _toggleClass('#exits', 'hidden', 'visible');
          } else {
            _toggleClass('#exits', 'visible', 'hidden');
          }
        })
      }, register.delay);
    });

    // 验证密码强度
    register.domEles.passward.addEventListener('input', e => {
      let levels = _checkPwd(e.target.value);
      _changeColor(levels);
    })
    
    // 注册，这里不能使用箭头函数（this指向window）
    register.domEles.form.addEventListener('submit', function (e) {
      e.preventDefault();
      let data = $(this).serialize();
      register.doRegister(data);
    })


  })()


</script> {{/block}}